<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_with_end_effector">

  <!-- Parameters -->
  <xacro:arg name="robot_ip" default="192.168.1.102"/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur5e/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/ur5e/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/ur5e/visual_parameters.yaml"/>
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="prefix" default=""/>

  <!-- Include the base UR macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- Include our end-effector -->
  <xacro:include filename="$(find motion_control_module)/urdf/end_effector.urdf.xacro"/>

  <!-- Create world link -->
  <link name="world"/>

  <!-- Instantiate the UR5e -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="hardware_interface/PositionJointInterface"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- Attach the end-effector -->
  <xacro:end_effector prefix="$(arg prefix)"/>

</robot>
