<?xml version="1.0"?>
<model>
  <name>bolt_50g</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>MTRN4231</name>
    <email>user@example.com</email>
  </author>
  <description>
    A 50g stainless steel bolt for weight sorting simulation
  </description>
</model>
